providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/kaholi/projects/games/sfml_Test"
          source: "/home/kaholi/projects/games/sfml_Test/.build-tools.cson"
          name: "Compile & Compile Object files & Run"
          command: "g++ -c ../../src/*.cpp && g++ *.o -o ../sfml-app -lsfml-graphics -lsfml-window -lsfml-system && ./../sfml-app"
          wd: "bin/src"
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          stdout:
            pty: false
            highlighting: "ht"
          stderr:
            highlighting: "ht"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: false
          version: 1
        }
        {
          project: "/home/kaholi/projects/games/sfml_Test"
          source: "/home/kaholi/projects/games/sfml_Test/.build-tools.cson"
          name: "Compile"
          command: "g++ -c ../../src/*"
          wd: "bin/src"
          env: {}
          modifier:
            shell:
              command: "bash -c"
            save_all: {}
          stdout:
            pty: false
            highlighting: "ha"
          stderr:
            highlighting: "ha"
          output:
            linter:
              no_trace: false
          version: 1
        }
        {
          project: "/home/kaholi/projects/games/sfml_Test"
          source: "/home/kaholi/projects/games/sfml_Test/.build-tools.cson"
          name: "Compile Object files"
          command: "g++ bin/src/main.o -o bin/sfml-app -lsfml-graphics -lsfml-window -lsfml-system"
          wd: "."
          env: {}
          modifier:
            shell:
              command: "bash -c"
          stdout:
            pty: false
            highlighting: "ha"
          stderr:
            highlighting: "ha"
          output: {}
          version: 1
        }
        {
          project: "/home/kaholi/projects/games/sfml_Test"
          source: "/home/kaholi/projects/games/sfml_Test/.build-tools.cson"
          name: "Run"
          command: "./bin/sfml-app"
          wd: "."
          env: {}
          modifier: {}
          stdout:
            pty: false
            highlighting: "nh"
            ansi_option: "ignore"
          stderr:
            highlighting: "nh"
            ansi_option: "ignore"
          output:
            console:
              close_success: true
              queue_in_buffer: true
              stdin: false
          version: 1
        }
      ]
  }
]
